[user]
	name = Arjun Madan
	email = arjunmadan1992@gmail.com
[alias]
    l  = log --graph --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --
[credential]
	helper = osxkeychain
[init]
	defaultBranch = main
